$percent: 100%;
$border-color: #2564cf;
$background-color: #b7d7f6;
$navbar-bg-color: #ffffff;
$navbar-divider-color: #e1dfdd;
$navbar-hover-color: #f5f5f5;

@mixin flex {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

@mixin icon {
  height: 1.25rem;
  width: 1.25rem;
}

.active {
  border-left: 3px solid $border-color;
  background-color: $background-color;
}

.navbar {
  width: 28rem;
  height: 100%;
  flex-shrink: 0;
  background-color: $navbar-bg-color;
}

.navbar-header {
  flex-grow: 1;
  height: 10%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.navbar-toggle-icon {
  @include icon;
}

.navbar-divider {
  width: 90%;
  height: 0.125rem;
  background-color: $navbar-divider-color;
  display: flex;
  margin: 0.5rem 0.5rem;
}

.navbar-content {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-list {
  height: 35.5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.button-container {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2.5rem;
}

.button-container:hover {
  background-color: $navbar-hover-color;
  font-weight: 500;
}

.button-values {
  font-size: 1.4rem;
  font-weight: 300;
}

.navbar-add-list {
  width: 100%;
  min-height: 4rem;
  display: flex;
}

.navbar-footer {
  flex: 1;
  min-height: 3.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: 2rem;
    width: 2rem;
  }
}

.input-list-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list-input {
  height: 90%;
  width: 65%;
  border: none;
  font-size: 1.3rem;
}

.navbar-list-input:hover {
  background-color: $navbar-hover-color;
}

.navbar-toggle-mail {
  height: 2.25rem !important;
  width: 2.25rem !important;
}
