
.todo-page {
    height: 100vh;
    width:100vw;
    background-color:#faf9f8;
}

.todo-body-section {
    width: 100%;
    height: 92%;
    display: flex;
}

.navbar-todobody {
    display:flex;
    flex :1;
}

img{
    height: 1.80rem !important;
    width:1.80rem !important;
}