
.todo-page {
    height: 100vh;
    background-color:#faf9f8;
}

.todo-body-section {
    width: flex 1;
    height: 90%;
    display: flex;
}

.navbar-todobody {
    display:flex;
    width: 100%;
    height: 100%;
}
