$header-bg-color: #2564cf;
$header-bg-hover-color: #215aba;
$input-bg-color: #fefefe;
$modify-todo-bg-color: #faf9f8;
$box-shadow-color: #0000001a;
$header-title-bg-color: #ffffff;
$bg-hover-color: #f5f5f5;
$percent: 100%;
$border-color: #2564cf;
$background-color: #b7d7f6;
$navbar-bg-color: #ffffff;
$navbar-divider-color: #e1dfdd;
$navbar-hover-color: #f5f5f5;
$hundred: 100%;
$add-todo-container-bg-color: #ffffff;
$box-shadow: #0000001a;
$todo-options-bg-color: #faf9f8;