$modify-todo-bg-color: #faf9f8;
$box-shadow-color: #0000001a;
$header-title-bg-color: #ffffff;

@mixin icon-properties {
  height: 24px;
  width: 24px;
}

@mixin box-properties {
  position: sticky;
  height: 5rem;
  width: 27.5rem;
  padding: 1rem;
  display: flex;
  background-color: $header-title-bg-color;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1.5rem;
  gap: 1rem;
  font-size: 1.25rem;
}

.modify-todo-page {
  background-color: $modify-todo-bg-color;
  height: 100%;
  width: 30rem;
  flex-shrink: 0;
  box-shadow: 0px 1.2px 3.6px $box-shadow-color,
    0px 6.4px 14.4px $box-shadow-color;
  display: flex;
  flex-direction: column;
  .todo-body {
    flex-grow: 1;
    height: 80%;
    margin-top: 1.5rem;
  }
}

.todo-header-title {
  @include box-properties;
  .todo-icon {
    @include icon-properties;
  }
  .todo-name {
    flex-grow: 1;
  }
}
.sub-todo-list {
  @include box-properties;
  .add-icon {
    @include icon-properties;
  }
  input {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.25rem;
  }
}

.todo-body-options {
  @include box-properties;
  .options-image {
    @include icon-properties;
  }
}

.todo-option-notes {
  @include box-properties;
  input {
    flex-grow: 1;
    height: 100%;
    border: none;
    font-size: 1.25rem;
  }
}
