@import "../../theme.scss";

@mixin icon-properties {
  height: 1.5rem;
  width: 1.5rem;
}

@mixin box-properties {
  min-height: 5rem;
  width: 24.5rem;
  padding: 1rem;
  display: flex;
  background-color: $header-title-bg-color;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 1rem 0 1.5rem;
  gap: 1rem;
  font-size: 1.25rem;
}

.modify-todo-page {
  background-color: $modify-todo-bg-color;
  height: 100%;
  width: 30rem;
  flex-shrink: 0;
  box-shadow: 0px 1.2px 3.6px $box-shadow-color,
    0px 6.4px 14.4px $box-shadow-color;
  display: flex;
  flex-direction: column;
  .todo-body {
    flex-grow: 1;
    height: 75%;
    margin-top: 1.5rem;
    overflow: auto;
    align-items: center;
  }

  .todo-header-title {
    @include box-properties;
    position: sticky;
    z-index: 10;
    top: 0;
    .todo-icon {
      @include icon-properties;
    }
    .todo-name {
      flex-grow: 1;
    }
  }
  .sub-todo-list {
    @include box-properties;
    .add-icon {
      @include icon-properties;
    }
    input {
      flex-grow: 1;
      height: 100%;
      width: 100%;
      border: none;
      font-size: 1.25rem;
    }
  }

  .todo-body-options {
    @include box-properties;
    .options-image {
      @include icon-properties;
    }
    .options-name {
      width: 15rem;
    }
  }

  .delete-sub-todo-icon {
    height: 1rem !important;
    width: 1rem !important;
  }

  .todo-completed {
    @include box-properties;
    .options-image {
      @include icon-properties;
    }
    .options-name {
      text-decoration: line-through;
      width: 15rem;
    }
  }

  .delete-sub-todo {
    align-self: center;
    width: 4rem;
    height: 100%;
  }

  .todo-option-notes:hover,
  .todo-body-options:hover,
  .todo-header-title:hover,
  .add-notes-field:hover {
    background-color: $bg-hover-color;
  }

  .todo-option-notes {
    min-height: 7rem;
    width: 24.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: $header-title-bg-color;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
    gap: 1rem;
    font-size: 1.25rem;
    .add-notes-field {
      flex-grow: 1;
      height: 100%;
      border: none;
      font-size: 1.25rem;
    }
    .add-notes-field:hover {
      outline: none;
    }
  }

  .finished {
    text-decoration: line-through;
  }

  .todo-footer {
    flex-grow: 1;
    width: 85%;
    background-color: $modify-todo-bg-color;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input:focus{
    outline: none;
  }
  textarea:focus{
    outline: none;
  }
}
